/*RESET*/
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

/*Classes fonctionnelles flex*/

.flex {
display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between {
justify-content:space-between ;} 

.space-around{ justify-content:space-around;}

.space-evenly{justify-content:space-evenly;}

.justify-center {
justify-content:center;}

.flex-end{justify-content:flex-end;}

.flex-start{justify-content:flex-start;}

/*Classes largeurs*/

.w100 {
    width: 100%;
}
 
.w48 {
    width: 48%;
}
 
.w50 {
    width: 50%;
}
 
.w40 {
    width: 40%;
}
 
.w33 {
    width: 33%;
}
 
.w30 {
    width: 30%;
}
 
.w25 {
    width: 25%;
}
 
.w10 {
    width: 10%;
}

/*Couleurs*/

.fond-marron-clair{

    background-color: #C9B49F;
}

.fond-marron{
    background-color: rgba(86, 39, 9, 1);
}

.img-texture{
    background-image: url(téléchargé\ \(15\).jpg);
}

/*PADDING ET MARGIN*/

.padding{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-bot-10{
    padding-bottom: 10px;
}

.padding-top-60{
padding-top: 60px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-20{
    margin-top: 20px;
}


.padding{
    padding: 40px;
}

.padding-15{
    padding: 15px;
}

/*HEADER*/


/*SECTION HERO*/
/*SECTION 1*/
/*SECTION 2*/
/*SECTION 3*/
/*FOOTER*/

.btn{
    background-color: rgba(86, 39, 9, 1);
    color: white;
    padding: 5px 15px;
}