/*RESET*/
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    background-repeat: no-repeat;
}

li{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    justify-content: space-between;
}

h1{
    color:rgba(86, 39, 9, 1) ;
}

h2,h4{
     font-family: "Kalnia", serif;
     font-weight: 500;
}

/*Classes fonctionnelles flex*/
.align-center{
    align-items: center;
    align-content: center;
    text-align: center;
}

.flex {
display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between {
justify-content:space-between ;} 

.space-around{ justify-content:space-around;}

.space-evenly{justify-content:space-evenly;}

.justify-center {
justify-content:center;}

.flex-end{justify-content:flex-end;}

.flex-start{justify-content:flex-start;}

/*Classes largeurs*/

.w100 {
    width: 100%;
}
 
.w48 {
    width: 48%;
}
 
.w50 {
    width: 50%;
}
 
.w40 {
    width: 40%;
}
 
.w33 {
    width: 33%;
}
 
.w30 {
    width: 30%;
}
 
.w25 {
    width: 25%;
}
 
.w10 {
    width: 10%;
}

/*Couleurs*/

.fond-marron-clair{

    background-color: #C9B49F;
}

.fond-marron{
    background-color: rgba(86, 39, 9, 1);
}

.img-texture{
    background-image: url(téléchargé\ \(15\).jpg);
}

/*PADDING ET MARGIN*/

.padding{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-bot-10{
    padding-bottom: 10px;
}

.padding-top-60{
padding-top: 60px;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left{
    margin-left: 50px;
}

.margin-right{
    margin-right: 50px;
}
.gap-20{
    gap: 20px;
}

.padding{
    padding: 40px;
}

.padding-15{
    padding: 15px;
}

.gap-20{
    gap: 20px;
}

/*HEADER*/

header{
    display:flex;
    align-items: flex-start;
justify-content: space-between;
background-color: #ffffff;
color:rgba(86, 39, 9, 1) ;
font-weight: 800;
font-family: "Jaldi",sans-serif ;
} 

/*SECTION HERO*/

.bg{
    height:100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.bg-blanc{
    background-color: #ffffff;
}
.place{margin:0px 50px 50px 300px;
    padding: 10% 0;}

/*SECTION 1*/

.cadre-real{
    color: black;
    background-color: white;
    width: 33%;
}

/*SECTION 2 VALEURS*/

.cadre-val{
    color: black;
    background-color: white;
    width: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 12px;
    font-family: "Jaldi", sans-serif;
}


/*SECTION 3 TEMOIGNAGES*/

.cadre-tem{
    color: black;
    background: #ffffff;
    width:28%;
}

/*FOOTER*/

.btn{
    background-color: rgba(86, 39, 9, 1);
    color: white;
    padding: 5px 15px;
}
